.ui.vertical.strip.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .eight.wide.column
        %h3.ui.header
          Something special for your team
        %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis ut mi auctor posuere. Nam scelerisque interdum turpis sit amet laoreet. Quisque ex erat, interdum ut consectetur in, porta quis dolor. Quisque vitae nisl imperdiet nulla elementum convallis vel non diam.
        %h3.ui.header
          And we promise it will work
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis ut mi auctor posuere. Nam scelerisque interdum turpis sit amet laoreet. Quisque ex erat, interdum ut consectetur in, porta quis dolor. Quisque vitae nisl imperdiet nulla elementum convallis vel non diam.
      .six.wide.right.floated.column
        = image_tag("smile.jpeg", class: "ui large bordered rounded image")
    .row
      .center.aligned.column
        %a.ui.huge.primary.button
          Check it out!

.ui.vertical.stripe.segment
  .ui.text.container
    %h3.ui.header
      Breaking The Grid, Grabs Your Attention
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis ut mi auctor posuere.
    %a.ui.large.positive.button
      Read More
    %h4.ui.horizontal.header.divider
      %a
        Even more so
    %h3.ui.header
      Our Customers are super happy
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis ut mi auctor posuere.
    %a.ui.large.positive.button
      Im still interested
