.ui.vertical.strip.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .sixteen.wide.column
        %h2.ui.header.top-margin
          %i.settings.icon
          .content
            Kontrollpanel
            .sub.header V채lkommen till kontrollpanelen. V채lj ett val!

    .row
      .four.wide.column
        = link_to edit_user_registration_path(current_user) do
          %h4.ui.center.aligned.icon.header
            %i.setting.icon
            .content
              Inst채llningar
              .sub.header Hantera dina inst채llningar

      .four.wide.column
        = link_to edit_account_path(current_user) do
          %h4.ui.center.aligned.icon.header
            %i.user.icon
            .content
              Profil
              .sub.header Hantera din profil
