.ui.vertical.strip.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .four.wide.column
        = link_to edit_user_registration_path(current_user) do
          %h4.ui.center.aligned.icon.header
            %i.setting.icon
            .content
              Inställningar
              .sub.header Hantera dina inställningar

      .four.wide.column
        = link_to edit_account_path(current_user) do
          %h4.ui.center.aligned.icon.header
            %i.user.icon
            .content
              Profil
              .sub.header Hantera din profil

      .four.wide.column
        = link_to account_path(current_user) do
          %h4.ui.center.aligned.icon.header
            %i.spy.icon
            .content
              Min Sida
              .sub.header Visa din profil

      .four.wide.column
        = link_to "#" do
          %h4.ui.center.aligned.icon.header
            %i.game.icon
            .content
              Mina Projekt
              .sub.header Visa dina projekt
