.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header
          About
        .ui.inverted.link.list
          %a.item The Company
          %a.item Founders
          %a.item Vision
          %a.item Investment
      .three.wide.column
        %h4.ui.inverted.header
          Services
        .ui.inverted.link.list
          %a.item Orders
          %a.item Pricing
          %a.item FAQ
          %a.item Legal
      .seven.wide.column
        %h4.ui.inverted.header
          Follow us on social media
        .ui.inverted.horizontal.list
          .item
            %button.ui.circular.facebook.icon.button
              %i.facebook.icon
          .item
            %button.ui.circular.twitter.icon.button
              %i.twitter.icon
          .item
            %button.ui.circular.google.plus.icon.button
              %i.google.plus.icon
          .item
            %button.ui.circular.linkedin.icon.button
              %i.linkedin.icon
