.ui.large.top.fixed.hidden.menu
  .ui.container
    %a.item Home
    %a.item About
    %a.item Pricing
    %a.item Contact
    .right.menu
      .item
        %a.ui.button Log ind
      .item
        = link_to 'Sign up', new_user_registration_path, class: 'ui primary button'
