.ui.large.top.fixed.hidden.menu
  .ui.container
    %a.item Home
    %a.item About
    %a.item Pricing
    %a.item Contact
    .right.menu
      .item
        %a.ui.button Log in
      .item
        %a.ui.primary.button Sign up
