.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.container
    .ui.large.inverted.secondary.pointing.menu
      %a.toc.item
        %i.sidebar.icon
      %a.item Home
      %a.item About
      %a.item Pricing
      %a.item Contact
      .right.item
        %a.ui.small.inverted.button Log in
        %a.ui.small.inverted.button Sign up

  .ui.text.container
    %h1.ui.inverted.header
      A tool for every serious developer
    %h2
      Follow the progress of every aspect of your projects
    .ui.huge.primary.button
      Get started
      %i.right.arrow.icon
